.z-index{z-index: 1;}
.pd-30{padding: 30px;}
.h-65{height: 65px; margin-top: -1px; padding: 0 30px;}
.h410{height: 410px;}
.max-w-700{max-width: 700px;}
.w45-h45{width: 45px; height: 45px;}
.min-h-300{min-height: 300px}
.w-130{width: 130px;}
.w-45{width: 45px;}
.w-50{width: 50px;}
.w-100{width: 100px;}